//colors
$color-accent: #F6B109;
$color-white: #FFFFFF;
$color-secondary: #ABABAB;

$color-text-white: #FFFFFF;
$color-text-black: #171717;
$color-text-gray: #ABABAB;



//fonts
%poppins-bold {
  font-family: 'Poppins', sans-serif;
}
%open-sans {
  font-family: 'Open Sans', sans-serif;
}
%container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}
